{#
/**
 * @file
 * Default theme implementation to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}
{% if url %}
  <a href="{{ url }}" class="threejs-download">{% if label_link %} {{ label_link|raw }}{% else %}<i class="fas fa-download bi bi-download"></i>{% endif %}</a>
{% endif %}
<div class="canvas-container" >
  <canvas class="threejs" data-model="{{ url }}"></canvas>
</div>
