@media (device-width <= 480px) {
  #wrapper #support h1 {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
  }

  #wrapper #support .webgl-div div {
    margin: 10px;
  }

  #wrapper #support #logo-container {
    text-align: center;
  }

  #wrapper #support canvas {
    margin: 10px 0;
  }

  #wrapper hr {
    margin: 10px 0;
  }

  #wrapper #moreinfo {
    margin: 10px 0 0;
  }

}

@media (device-width >= 600px) {
  #wrapper #support h1 {
    font-weight: normal;
    font-size: 40px;
    margin: 40px 0;
  }

  #wrapper #support {
    text-align: center;
  }

  #wrapper #support canvas {
    margin: 30px 0 10px;
  }

  #wrapper hr {
    margin: 40px 0;
  }

  #wrapper {
    width: 600px;
  }

  #wrapper #moreinfo {
    width: 250px;
    margin: 0 20px;
    float: left;
  }

  #wrapper #resources {
    width: 250px;
    height: 150px;
    margin: 0 20px 0 40px;
    float: left;
  }

  #wrapper #support .webgl-div div {
    margin: 20px 100px;
  }
}

#wrapper {
  margin: auto;
}

#wrapper hr {
  border-top: solid #e3e3e3;
  border-width: 1px 0 0;
  height: 0;
}

#wrapper #support h1 {
  color: #33a933;
}

#wrapper #resources div {
  font-size: 13px;
}

#wrapper #moreinfo div {
  font-size: 13px;
}

.webgl-hidden {
  display: none;
}

#webgl-browser-list {
  white-space: nowrap;
}
